{
	http_port 80
	https_port 443
	debug
	acme_ca {$GK_ACME_CA}
	email {$GK_ACME_EMAIL}
}

# ***IMPORTANT***
# If GK_SITE does not include all public access points, such
# as bare IP adress, than your services will not be fully protected!
# ***IMPORTANT***    
{$GK_SITE} {
	route /sso* {
		# trace
		auth_portal {
			path /sso
			backends {
				local_backend {
					method local
					path /etc/gatekeeper/auth/user_db.json
					realm local
				}
				google_oauth2_backend {
					method oauth2
					realm google
					provider google
					client_id {$GK_GOOG_CLIENT_ID}
					client_secret {$GK_GOOG_CLIENT_SECRET}
					scopes openid email profile
				}
			}
			jwt {
				token_name access_token
				token_secret 0e2fdcf8-6868-41a7-884b-7308795fc286
				token_issuer e1008f2d-ccfa-4e62-bbe6-c202ec2988cc
				# token_rsa_file Hz789bc303f0db /etc/gatekeeper/auth/sign_key.pem
				token_lifetime 3600
				token_sign_method HS256
			}
			ui {
				theme basic
				logo_url "https://caddyserver.com/resources/images/caddy-circle-lock.svg"
				logo_description "Caddy"
				links {
					"Theia IDE" /ide/
					"SSO Identity" /sso/whoami
					"SSO Settings" /sso/settings
				}
			}
			registration {
				dropbox /etc/gatekeeper/auth/registrations_db.json
				title "User Registration"
				code "WA-DEV"
				require accept_terms
			}
		}
	}

	route /health {
		trace tag="health"
		respond * "OK" 200
	}

	route /greeting {
		reverse_proxy localhost:32787
	}

	route {
		jwt {
			primary yes
			trusted_tokens {
				static_secret {
					token_name access_token
					token_secret 0e2fdcf8-6868-41a7-884b-7308795fc286
					token_issuer e1008f2d-ccfa-4e62-bbe6-c202ec2988cc
				}
			}
			auth_url /sso
			allow roles anonymous guest admin
			allow roles superadmin
			allow roles admin editor viewer
			allow roles AzureAD_Administrator AzureAD_Editor AzureAD_Viewer
			allow roles everyone Everyone
		}

		reverse_proxy localhost:3000
	}
}
