{
	http_port 8080
	https_port 8443
	# debug
	acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
	email admin@{$WA_DOMAIN}
}

{$WA_DOMAIN} {
	route /sso* {
		# trace
		auth_portal {
			path /sso
			backends {
				local_backend {
					method local
					path /etc/gatekeeper/auth/user_db.json
					realm local
				}
				google_oauth2_backend {
					method oauth2
					realm google
					provider google
					client_id {$WA_GOOG_CLIENT_ID}
					client_secret {$WA_GOOG_CLIENT_SECRET}
					scopes openid email profile
				}
			}
			jwt {
				token_name access_token
				token_secret 0e2fdcf8-6868-41a7-884b-7308795fc286
				token_issuer e1008f2d-ccfa-4e62-bbe6-c202ec2988cc
				# token_rsa_file Hz789bc303f0db /etc/gatekeeper/auth/sign_key.pem
				token_lifetime 3600
				token_sign_method HS256
			}
			ui {
				theme basic
				generic_template "/etc/gatekeeper/templates/basic/generic.template"
				login_template "/etc/gatekeeper/templates/basic/login.template"
				portal_template "/etc/gatekeeper/templates/basic/portal.template"
				register_template "/etc/gatekeeper/templates/basic/register.template"
				settings_template "/etc/gatekeeper/templates/basic/settings.template"
				whoami_template "/etc/gatekeeper/templates/basic/whoami.template"
				custom_css_path "/etc/caddy/watheia-ui.css"
				logo_url "https://cdn.watheia.dev/assets/img/logo_192.png"
				logo_description "Watheia Labs"
				links {
					"Theia IDE" /ide/
					"SSO Identity" /sso/whoami
					"SSO Settings" /sso/settings
				}
			}
			registration {
				dropbox /etc/gatekeeper/auth/registrations_db.json
				title "User Registration"
				code "WA-DEV"
				require accept_terms
			}
		}
	}

	route /health {
		trace tag="health"
		respond * "OK" 200
	}

	route {
		jwt {
			primary yes
			trusted_tokens {
				static_secret {
					token_name access_token
					token_secret 0e2fdcf8-6868-41a7-884b-7308795fc286
					token_issuer e1008f2d-ccfa-4e62-bbe6-c202ec2988cc
				}
			}
			auth_url /sso
			allow roles anonymous guest admin
			allow roles superadmin
			allow roles admin editor viewer
			allow roles AzureAD_Administrator AzureAD_Editor AzureAD_Viewer
			allow roles everyone Everyone
		}

		reverse_proxy localhost:3000
	}
}
